{% extends "base.html" %}

{% block page_content %}

        {% for message in messages %}
            <p id="messages">{{message}}</p>
        {% endfor %}
    
    <div class="container-fluid">

      <p>
        <div class="row">
           <div class="col"><h3> Objective </h3></div>
           <div class="col">
            <h4> UPDATE OBJECTIVE </h4>
           </div>
      </div>
        </div> 
      </p>

      <div class="row">
        <div class="col">
          <div>
            <div class="card card-body">
             <table id="example1" class="table table-bordered table-striped">
                 <thead>
                     <th>index</th>
                     <th>Objective</th>
                     <th><button class="btn btn-primary"  data-toggle="collapse" data-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample2">Actions</button></th>
                 </thead>
              {% for ma in objective reversed %}
                 <tr>
                     <th>{{ forloop.counter }}</th>
                     <td>{{ma}}</td>

                     <td class="collapse multi-collapse" id="multiCollapseExample1">
                      <a class="btn btn-info btn-sm" href="{% url 'updateObjective' ma.id %} ">
                          <i class="fas fa-pencil-alt">
                          </i>
                          Edit
                      </a>
                      <a class="btn btn-info btn-sm" href="{% url 'createRisk' ma.id %} ">
                        <i class="fas fa-pencil-alt">
                        </i>
                        Add Inherent Risk
                      </a>
                      <a class="btn btn-danger btn-sm" href="{% url 'deleteObjective' ma.id %}">
                          <i class="fas fa-trash">
                          </i>
                          Delete
                      </a>
                  </td>

                 </tr>
              {%endfor%}
             </table>
            </div>
          </div>
        </div>
        <div class="col">
          <div>
            <div class="card card-body">
                <form method="post">
                    {% csrf_token%}
                    {{ form.as_p }}
                    <button class="btn btn-app btn-sm mr-4" type="submit" value="Submit"><i class="fas fa-save"></i> Save</button>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

