{% extends "base.html" %}

{% block page_content %}
        <div class="container-fluid">

          <div class="row">
            <div class="col-2">    
              <p>Name | Type</title></p>
            </div>
            <div class="col-2">
              <button class="btn btn-info btn-block">RISK PROFILE</button>
            </div>
            <div class="col-2">
              <button class="btn btn-info btn-block">RISK MONITARING</button>
            </div>
            <div class="col-2">
              <button class="btn btn-info btn-block">RISK SCORE</button>
            </div>
            <div class="col-2">
              <button class="btn btn-info btn-block">RISK GRADE</button>
            </div>
            <div class="col-2">
              <button class="btn btn-info btn-block">RISK UNIVERSE</button>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <button class="btn btn-secondary btn-block">RISK REGISTER</button>             
              <button class="btn btn-secondary btn-block">MANAGEMENT AND COMPLIANCE</button>
              <button class="btn btn-secondary btn-block">AUDIT FINDINGS</button>    
              <button class="btn btn-secondary btn-block">VIEW</button>
            </div>
            <div class="col-10">

            </div>
           
          </div>
          
        </div>
      

{% endblock %}